<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://img2.baidu.com/it/u=3247763107,1171185565&fm=253&fmt=auto?w=500&h=500" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">首页</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0 ml-5" method="get" action='http://localhost:3000/search'>
            <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="请输入关键词...">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
        <ul class="navbar-nav ml-auto">
            <% if (username) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
            admin
        </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="http://localhost:3000/logout">退出</a>
                    </div>
                </li>

                <% }else{ %>
                    <li class="nav-item">
                        <a href="http://localhost:3000/login" class="nav-link">登录</a>
                    </li>
                    <% } %>

                        <li class="nav-item">
                            <a href="http://localhost:3000/register" class="nav-link">注册</a>
                        </li>
        </ul>
    </div>
</nav>