<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <style>
        td:not(.td_info) {
            width: 140px;
        }
    </style>
</head>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>排行</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>分类</th>
                    <th>信息</th>
                    <th>状态</th>

                </tr>
            </thead>
            <tbody>
                <% data.forEach(item => { %>
                    <tr>
                        <td>
                            <%= item.ranking %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.author %>
                        </td>
                        <td>
                            <%= item.category %>
                        </td>
                        <td class="td_info">
                            <%-item.info.length>45 ? item.info.substr(0,45)+'...':item.info %>
                        </td>
                        <td>
                            <%= item.isDone ? '完本':'连载' %>
                        </td>

                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

</body>

</html>